@model Marketplace.WebApp.Models.OfferProductsVM

<div>
    <h4>Wybierz i dodaj produkt do oferty:</h4>
    </br>
    <h3>
        @Html.DisplayFor(model => model.OfferName)
    </h3>

    <div class="form-group">
        <label for="formSelectProduct">Produkt:</label>
        <select class="form-control" id="formSelectProduct">
            @foreach (var item in Model.ProductList)
            {
                <option>ID: @Html.DisplayFor(modelItem => item.ProductId) | Nazwa: @Html.DisplayFor(modelItem => item.Name)</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
    <a asp-action="Yours">Wróć do listy</a>


</div>
