@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji Marketplace</h1>
    <p>Wystawiaj produkty, twórz oferty, i sprawdzaj co inni mają do zaoferowania!</p>
</div>
